<?xml version="1.0"?>
<config>
	<id>community-3-popular-posts</id>
	<type>widget</type>
	<category>
		<main>post</main>
		<sub>latest</sub>
	</category>
	<name>
		<en>Popular Post Latest</en>
		<ko>Popular Post Latest</ko>
	</name>
	<version>0.1</version>
	<author>JaeHo Song</author>
	<email>thruthesky@gmail.com</email>
	<homepage>http://jaehosong.com</homepage>
	<demo>http://philgo.net</demo>
	<short>
		<en>Displays latest post from most popular to least.</en>
		<ko>Displays latest post from most popular to least.</ko>
	</short>
	<detail>
		<en>Displays latest post from most popular to least.</en>
		<ko>Displays latest post from most popular to least.</ko>
	</detail>
</config>
